<section>
  <div class="display mt-5">
    <%# <%= image_tag user_img(''), :class => "avatar border border-2 border-dark" %>
    <div class="user_list border border-1 border-dark d-flex justify-content-between py-5">
      <h2 class="user_name"><%= user.name %></h2>
      <p class="num_post flex-row-reverse fs-6 mt-4">Number of posts: <%= user.posts.size %></p>
    </div>
  </div>
</section>